<md-dialog flex="50">

  <md-toolbar>
      <div class="md-toolbar-tools">
         <h2 text-align="center" ng-show="vm.addEmp">Add Employee</h2>
         <h2 text-align="center" ng-show="vm.editEmp">Edit Employee</h2>

       </div>
  </md-toolbar>

  <md-content layout-padding>

        <md-content  layout="row" layout-xs="column">
            <md-input-container flex>
              <label>First Name</label>
              <input ng-model="vm.newEmp.first_name">
            </md-input-container>
            <md-input-container flex>
              <label>Last Name</label>
              <input ng-model="vm.newEmp.last_name">
            </md-input-container>
        </md-content>

        <md-content layout="row" layout-xs="column">
            <md-input-container flex>
                <label>Client</label>
                <md-chips ng-model="vm.newEmp.client" md-removable="vm.removable"></md-chips>
              </md-input-container>

            <md-input-container flex>
              <label>Skills</label>
              <md-chips ng-model="vm.newEmp.skill" md-removable="vm.removable"></md-chips>
              </md-input-container>
        </md-content>

        <md-content layout="row" layout-xs="column">
            <md-input-container flex>
                  <label>Recruiter</label>
                  <input ng-model="vm.newEmp.recruiter">
            </md-input-container>
            <md-input-container flex>
              <label>Placement type</label>
              <md-select ng-model="vm.newEmp.placement_type">
                  <md-option ng-repeat="workType in vm.placeType" value="{{workType.types}}">
                    {{workType.types}}
                  </md-option>
              </md-select>
            </md-input-container>
        </md-content>

        <md-content layout="row" layout-xs="column">
            <md-input-container flex>
                  <label>Salary</label>
                  <input ng-model="vm.newEmp.salary">
            </md-input-container>
            <md-input-container flex>
              <label>Insurance</label>
              <input ng-model="vm.newEmp.insurance">
            </md-input-container>
        </md-content>


        <md-content layout="row" layout-xs="column">
            <md-input-container flex>
                  <label>Relocation</label>
                  <input ng-model="vm.newEmp.relocation">
            </md-input-container>
            <md-input-container flex>
              <label>immigration</label>
              <input ng-model="vm.newEmp.immigration">
            </md-input-container>
        </md-content>

        <md-content layout="row" layout-xs="column">
            <md-input-container flex>
                  <label>Pay Vacation Cost</label>
                  <input ng-model="vm.newEmp.pay_vacation_cost">
            </md-input-container>
            <md-input-container flex>
              <label>Ksquare Hourly Cost</label>
              <input ng-model="vm.newEmp.Ksquare_hourly_cost">
            </md-input-container>
        </md-content>


        <md-content layout="row" layout-xs="column">
            <md-input-container flex>
                  <label>Target Bill rate</label>
                  <input ng-model="vm.newEmp.target_bill_rate">
            </md-input-container>
            <md-input-container flex>
                  <label>Client Bill Pay</label>
                  <input ng-model="vm.newEmp.client_bill_pay">
            </md-input-container>
        </md-content>
        <div id ="toastBounds"></div>
        <md-content ng-show='vm.addEmp'>
            <md-button class="md-primary md-raised" ng-click="vm.addEmployee(vm.newEmp)" >
              ADD EMPLOYEE
            </md-button>

            <md-button class="md-primary md-raised" ng-click="vm.cancel()">
              Cancel
            </md-button>
        </md-content>

        <md-content ng-show='vm.editEmp'>

            <md-button class="md-primary md-raised" ng-click="vm.editEmployee($event)">
              SAVE EMPLOYEE
            </md-button>

            <md-button class="md-primary md-raised" ng-click="vm.cancel()" >
              Cancel
            </md-button>
        </md-content>

  </md-content>

</md-dialog>
