<!--
  <div class="container">
    <div class="navbar-header"> -->
      <!-- <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <!-- <a href="/" class="navbar-brand">maerk</a> -->
    <!-- </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav"> -->
        <!-- <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li> -->
        <!-- <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
      </ul> -->
      <!-- <ul class="nav navbar-nav navbar-right">
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="logout">Logout</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="logout">Logout</a></li>
      </ul> -->
    <!-- </div>
  </div>
</div> -->

<md-toolbar class="md-padding">
  <div ng-cloak layout="row" md-is-locked-open="gt-md">
    <md-button  class="md-icon-button" aria-label="Side Panel" ng-click="nav.openLeftSidenav()" hide-gt-md>
      <!-- <md-tooltip>Side Panel</md-tooltip> -->
     <md-icon class="md-default-theme" class="material-icons">&#xE5D2;</md-icon>
   </md-button>
   <div><img src="../assets/images/ksquare-logo-black-red.png" height="42" width="150" hspace="10"></div>

    <span flex></span>

  <!-- </ul>  -->
  <!-- <div class="nav navbar-nav navbar-right" layout='row'> -->
    <!-- <div ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></div>
    <div ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></div> -->
    <!-- <div ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </div>
    <div ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span><i class="material-icons">&#xE8B8;</i></a></div>
    <! <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span>Settings</a></li> -->
    <!-- <div ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="logout"><i class="material-icons">power_settings_new</i></a></div> -->
    <!-- <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="logout">Logout</a></li> -->
  <!-- </div> -->

      <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links" class="nav navbar-nav navbar-right">
        <md-nav-item ng-show="nav.isLoggedIn()" md-nav-sref="settings"><i class="material-icons">&#xE8B8;</i></md-nav-item>
        <md-nav-item ng-show="nav.isLoggedIn()"   md-nav-sref="logout"><i class="material-icons">power_settings_new</i></md-nav-item>
        <!-- <md-nav-item ng-hide="nav.isLoggedIn()" md-nav-sref="login">login</md-nav-item> -->
        <!-- <mg-nav-item ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p></md-nav-item> -->
        <!-- <md-nav-item ng-hide="nav.isLoggedIn()"  ui-sref="settings"></md-nav-item>
        <md-nav-item ng-hide="nav.isLoggedIn()" md-nav-sref-active="active" ui-sref="logout"><i class="material-icons">power_settings_new</i></md-nav-item> -->
      </md-nav-bar>

  </div>
</md-toolbar>
